NODE_ENV=
BACKEND_URL=http://localhost
FRONTEND_URL=http://localhost:3000
PROXY_PORT=8080
PORT=8080

DB_DIALECT=
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

JWT_SECRET=
JWT_REFRESH_SECRET=

CHROME_BIN=C:\Program Files\Google\Chrome\Application\chrome.exe

NOT_SUPPORTED_MSG="*MENSAGEM DO SISTEMA (VISÍVEL APENAS PARA VOCÊ)*: A mensagem enviada pelo usuário não é suportada pelo Whaticket. É conveniente avisar ao usuário que os alguns tipos de mensagens não são suportados. Tipo da mensagem:"

BODY_NOT_LOADED="*MENSAGEM DO SISTEMA (VISÍVEL APENAS PARA VOCÊ)*: Não foi possível carregar a mensagem. Em algumas situações, o Whatsapp na versão MD não carrega as mensagens. Verifique o celular para mais detalhes."

TIME_TO_REOPEN_TICKET=15