node_modules
public/*
dist
!public/.gitkeep
.env
.env.test
WWebJS
.wwebjs_auth

package-lock.json
yarn.lock
yarn-error.log

/src/config/sentry.js

# Ignore test-related file
/coverage.data
/coverage/
